---
interface Props {
	src: string;
	alt: string;
	width: number;
	height: number;
	caption?: string;
	class?: string;
}

const { src, alt, width, height, caption, class: className = '' } = Astro.props;
---

<figure class:list={['product-media', className]} data-reveal>
	<div class="product-media-frame">
		<img src={src} alt={alt} width={width} height={height} loading="lazy" decoding="async" />
	</div>
	{caption && <figcaption>{caption}</figcaption>}
</figure>
